/* Write your CSS here */
.container {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  color: #2d3a35;
  font-family: 'roboto';
}
.paragraph {
  color: #2d3a35;
  font-family: 'roboto';
  font-weight: 400;
}
.button {
  background-color: #007bff;
  color: white;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  border-color: #007bff;
  border-style: solid;
  cursor: pointer;
  outline: none;
}
span {
  color: #c20a72;
}
